<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.darkkatrom.dksettings.theme.darkkatlight"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="net.darkkatrom.dksettings" android:priority="1"/>

    <application android:label="@string/overlay_darkkat_light_title" android:hasCode="false"/>
</manifest>
